<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}" media="screen" />
  </head>
  <body>
    

    <section class="form-login">
      <h5>Ingresar al Examen</h5>
      <form action="  " method="post">

          <input class="input" type="text" placeholder="Nombre" name="nombre" id="nombre">

          <input class="input" type="password" placeholder="Contraseña" name="contraseña" id="contraseña">

          <!-- main mysql-->
          
          <p><a href="{{url_for('elegir')}} "> <b>INGRESAR </b></a></p>


          <p><a href="{{url_for('participante')}} ">Registrarse </a></p>
          
          <a href=" {{url_for('participante')}} " class="button is-primary mt-2">Salir</a> <!-- main mysql-->
      </form>

    </section>

  </body>
</html>
